/*Hide the iframe element that gets created from the html insertion*/
iframe {
    display: none;
}

div.block-container.st-emotion-cache-13ln4jf.ea3mdgi5 > div > div > div > div.st-emotion-cache-ocqkz7.e1f1d6gn5 > div:nth-child(3) > div > div > div > div > div > button {
    margin-top: 27px;
}

[role="radiogroup"] {
    float: right;
}

.st-emotion-cache-vzv0di {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.st-emotion-cache-1bpcoe0.e1f1d6gn2 {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.news-card::-webkit-scrollbar {
    display: none;
}
.news-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.news-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
}

.news-card-grid-view {
    height: 300px;
    overflow: scroll;
}

.news-card-grid-view-no-descriptions {
    height: 170px;
    overflow: scroll;
}
.news-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-title a {
    color: #1e88e5;
    text-decoration: none;
}

.news-title a:hover {
    text-decoration: underline;
}

.news-meta {
    color: #757575;
    font-size: 14px;
    margin-bottom: 10px;
    text-wrap: nowrap;
    overflow: scroll;
}
.news-meta::-webkit-scrollbar {
    display: none;
}

.news-description {
    color: #424242;
    font-size: 16px;
    margin-bottom: 10px;
}

.company-tag {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
}

/* Hide streamlit branding */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

/* Adjust container width */
.reportview-container .main .block-container {
    max-width: 1300px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.st-emotion-cache-1jicfl2 {
    width: 85%;
}


/* Duplicate dropdown styles */
.duplicates-dropdown {
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}

.duplicates-dropdown summary {
    cursor: pointer;
    margin-bottom: 10px;
}

.duplicates-dropdown summary:hover {
    color: #FF4B4B
}

.duplicates-list {
    list-style-type: none;
    padding-left: 0;
}

.duplicate-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.duplicate-title {
    display: block;
    color: #1e88e5 !important;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
}

.duplicate-title:hover {
    text-decoration: underline;
}

.duplicate-meta {
    font-size: 0.8em;
    color: #666;
}

/*
.duplicate-source {
    font-weight: bold;
}

.duplicate-date {
    font-style: italic;
}
*/

.st-cq.st-cr.st-cs.st-c4.st-at.st-av.st-aw.st-au.st-eq.st-er.st-hp.st-as.st-hq.st-hr.st-eu.st-ev {
    left: 90px;
}

